*~
*.aux
*.fdb_latexmk
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
p.pdf
/bibexport.bib
/die.tar.gz
/rev.tex
/abstract.txt
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
.latexrun.db
*.swp
*.swo
p.synctex.gz
rev.tex
latex.out
*.txt
/bin
.DS_Store
aspell.words.txt
