*~
*.aux
*.fdb_latexmk
.*.swp
*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
/*.lof
/*.lot
/*.lol
/*.pdf
/bibexport.bib
/die.tar.gz
/rev.tex
/abstract.txt
/aspell.words
/*.synctex.gz*
!/code/fmt.tex
_minted-p
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
.latexrun.db
.latexmkrc
/data/color
/lab.bib
/sty
.DS_Store
/symlink.py
/bin
/conf.bib
/bin
/conf.bib
/data/color
/lab.bib
/sty
